.main-nav {
  max-width: 300px;
  min-width: 200px;
  margin: 20px;
}

.main-nav ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}